* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 1298px;
    height: 80px;
    background-color: #1F2B6C;
    color: white;
    display: flex;
    align-items: center;

}

.nav {
    display: flex;
    position:relative ;
    left:180px;
    top:10px;
    flex-wrap: wrap;
    gap: 10px;


}

button {
    width: 200px;
    height: 40px;
    border-radius: 20px;
    position: relative;
    left:300px;
    bottom: 10px;
    

}

span {
    position: relative;
    bottom: 7px;
    left: 300px;
}

.buttom {
    position: relative;
    bottom: 30px;

}

.nav2 {
    display: flex;
  align-items: center;
}